In [1]:
import re
import pandas as pd
from pandas import DataFrame as df
import numpy as np
import emoji

In [2]:
twitter_file = open("data/raw_korean.txt", "r", encoding = "utf-8")
twitter = twitter_file.read()
twitter_file.close()

twitter[:500]

'RT @haha247979: @onemoreonce4bts @BTS_twt 넵넵💜 저..  늦게 해시 투표 동참한거 사실.. 조금.. 많이 죄송하긴 해써요😂😂\n열심히 슨배님덜 따라갈게요~😍\n\nButter by BTS #BTS\nStream #BTS_B…@green_zzang 맞아맞아 그렇긴 하지! 😂 근데 난 내용이 맘에 안 들거나 더 안 읽어도 되겠다 싶으면 다 안 읽었는데도 읽은 책처럼 생각해(!) ㅋㅋㅋㅋㅋ@weareDRIPPIN 오늘의 한마디를 주세요!😂\n\n#DRIPPIN #드리핀 #Villain #드리핀과_함께하는_멘션파티@KnitOhlala 이거 때문에 어제 실 주문을 한지라 ㅋㅋㅋㅋ 매우 찔립니다요!!! 근데 넘 잘 입을 것 같아서 함뜨참가! 얍! 색조합 잘 못하는데 원작하고 비슷하게 갑니다 😂@shotasaigo 까까님😂😂 생일메세지 정말 감사해요 🥺🥺💙 끝까지 덕질해라는 뜻인가봐요😇 까까님도 남은 시간 즐겁게 보내세요 🥰🥰아 내스급 성현제 책갈피가 아니라 옷핀입니다😂😂'

In [3]:
classified_emojis = pd.read_csv('data/classified_emojis.csv', encoding = 'utf-8')
classified_emojis.drop_duplicates(subset = ['emojis'], ignore_index = True)
classified_emojis

     class emojis
0   {love}     ❤️
1   {love}      😍
2   {love}      💕
3   {love}      😘
4   {love}      💖
..     ...    ...
94       🤘      🤘
95       💦      💦
96       😣      😣
97       🏃      🏃
98      ☝️     ☝️

[99 rows x 2 columns]

In [4]:
#big data crawled with academic api added
twitter_file_big = open("data/raw_korean_2015_2021.txt", "r", encoding = "utf-8")
twitter += twitter_file_big.read()
twitter_file_big.close()

twitter[:500]

'RT @haha247979: @onemoreonce4bts @BTS_twt 넵넵💜 저..  늦게 해시 투표 동참한거 사실.. 조금.. 많이 죄송하긴 해써요😂😂\n열심히 슨배님덜 따라갈게요~😍\n\nButter by BTS #BTS\nStream #BTS_B…@green_zzang 맞아맞아 그렇긴 하지! 😂 근데 난 내용이 맘에 안 들거나 더 안 읽어도 되겠다 싶으면 다 안 읽었는데도 읽은 책처럼 생각해(!) ㅋㅋㅋㅋㅋ@weareDRIPPIN 오늘의 한마디를 주세요!😂\n\n#DRIPPIN #드리핀 #Villain #드리핀과_함께하는_멘션파티@KnitOhlala 이거 때문에 어제 실 주문을 한지라 ㅋㅋㅋㅋ 매우 찔립니다요!!! 근데 넘 잘 입을 것 같아서 함뜨참가! 얍! 색조합 잘 못하는데 원작하고 비슷하게 갑니다 😂@shotasaigo 까까님😂😂 생일메세지 정말 감사해요 🥺🥺💙 끝까지 덕질해라는 뜻인가봐요😇 까까님도 남은 시간 즐겁게 보내세요 🥰🥰아 내스급 성현제 책갈피가 아니라 옷핀입니다😂😂'

In [5]:
# kaggle_file = open("data/kaggle_translated.txt", "r", encoding = "utf-8")
# kaggle = kaggle_file.read()
# kaggle = kaggle.replace("⁇", "")
# kaggle_file.close()

# kaggle[:500]

In [6]:
# text = twitter + kaggle
text = twitter

In [7]:
#영문, 특수문자(? ! . 제외), 숫자 제거
text = re.sub('[a-zA-z]','',text)
text = re.sub('[\{\}\[\]\/;:|\)*~`^\-_+<>@\#$%&\\\=\(\'\"\♥\♡\n0-9]','',text)
text = text.strip()
text[-500:]

' 스텔라와 함께해주신 년 올해도 감사합니다❤️\u200d🔥❤️\u200d🔥🌈🌈💕💕🎄🎄🏃🏻\u200d♀️🏃🏻\u200d♀️👈👈🥂🥂내년에도 행복한 기억과 대화들이 가득한 트위터 가좍들이 될 수 있기를!!!!❣️❣️❣️싸랑해요😍😍🥰🥰🥰😍🥰🥰🥰🥰🥰푹 자다 일어나서 시계 보는데 점심시간이 다 되어가고, 새벽에 깼다 다시 잠든 시목이 보면서 검사님 왜 안깨웠어요?! 소리치면 황시먹 되게 어이 없을듯ㅋㅋㅋ 눈도 제대로 못 뜨고 경감님이 안 일어나셨는데요...😞그냥 집에서 전기장판 틀고 뒹굴어라 바보검사 바보경찰들아 혼자 맛있는 거 묵네…😞 우리 다 왤케 힘들게 살지...?😞 반응이 있는지 없는지 아무런 고지도 없네요. 보일때마다 득달같이 달려들어 신고하지만,,,  방응이천무합니다.😞요즘 알림창 알티 마음 이런 거 다 씹히고 심지어 멘션도 안 뜨고,, 탐라도 씹혀서 타래 달린 게 클릭 해야 보이고,, 😞 왜 이러나 모르겠어  새로 그리기엔 시간이 없고, 그냥 보내긴 아쉬워서 예전 그림수정😞 주년 🎉🎉  . 타이레놀먹구 잠 ,,,😞😞'

In [8]:
emojis = emoji.emoji_lis(text)
emojis[:10]

[{'location': 2, 'emoji': '💜'},
 {'location': 44, 'emoji': '😂'},
 {'location': 45, 'emoji': '😂'},
 {'location': 60, 'emoji': '😍'},
 {'location': 80, 'emoji': '😂'},
 {'location': 157, 'emoji': '😂'},
 {'location': 264, 'emoji': '😂'},
 {'location': 269, 'emoji': '😂'},
 {'location': 270, 'emoji': '😂'},
 {'location': 286, 'emoji': '🥺'}]

In [9]:
emojis = list(set([i['emoji'] for i in emojis]))
print(len(emojis))
emojis[:10]

1580

['👂🏻', '🧙', '🤙🏽', '👀', '🏃', '🧑\u200d🍳', '🎓', '🐺', '🤼\u200d♀️', '✋🏿']

In [10]:
delimiters = ['.', '!', '?', 'ㅎ', 'ㅋ', ' ']
delimiters.extend(emojis)

#두번이상 반복된 것 한 번으로 축소
for d in delimiters:
    flag = False
    while True:
        if text.find(d+d) == -1:
            break
        text = text.replace(d+d, d)

text[:500]

'넵넵💜 저. 늦게 해시 투표 동참한거 사실. 조금. 많이 죄송하긴 해써요😂열심히 슨배님덜 따라갈게요😍 … 맞아맞아 그렇긴 하지! 😂 근데 난 내용이 맘에 안 들거나 더 안 읽어도 되겠다 싶으면 다 안 읽었는데도 읽은 책처럼 생각해! ㅋ 오늘의 한마디를 주세요!😂 드리핀 드리핀과함께하는멘션파티 이거 때문에 어제 실 주문을 한지라 ㅋ 매우 찔립니다요! 근데 넘 잘 입을 것 같아서 함뜨참가! 얍! 색조합 잘 못하는데 원작하고 비슷하게 갑니다 😂 까까님😂 생일메세지 정말 감사해요 🥺💙 끝까지 덕질해라는 뜻인가봐요😇 까까님도 남은 시간 즐겁게 보내세요 🥰아 내스급 성현제 책갈피가 아니라 옷핀입니다😂 뮤지광컴퍼니는 끝났지만 나는 멈추지 않는다.정규직 기다려라.😂모두들 감사합니다❤️👍유튜브는 아직 남았어용ㅎ크래비티 형준 아이돌라이브 뮤지광 . 우왕😍 솜사탕😙차배치가 초컷이래서😂 우리껀 춘절이후에 받아욥요기는 솜사탕 차폼이용😁 . 에에 아직 못갈겼어 담달에 살구야!😂🔥 흐뭇하게 시작해서 중간에 탈'

In [11]:
df = df(columns = ['x', 'y'])
df

Empty DataFrame
Columns: [x, y]
Index: []

In [12]:
classified_emojis[classified_emojis['emojis'] == '😍']['class'].head(1).item()

'{love}'

In [28]:
len(text)

11651530

In [30]:
delimiters.remove(' ')
x = ""

for i in range(len(text)):
    if text[i] in delimiters:
#         if i+1 < len(text) and text[i+1] in delimiters:
#             continue
        if len(x) < 10:
            continue
        if text[i] not in emojis:
          #  df = df.append({'x': x, 'y': 'N'}, ignore_index = True)
            x = ""
            continue
        elif text[i] in list(classified_emojis['emojis']):  # classified_emojis에 없는 것은 무시한다.
            emoji = classified_emojis[classified_emojis['emojis'] == text[i]]['class'].head(1).item()
            df = df.append({'x': x, 'y': emoji}, ignore_index = True)
        x = ""
    else:
        x += text[i]

In [31]:
df.head()

                            x               y
0              조금 많이 죄송하긴 해써요  {laughing-out}
1              열심히 슨배님덜 따라갈게요          {love}
2  얍 색조합 잘 못하는데 원작하고 비슷하게 갑니다  {laughing-out}
3             끝까지 덕질해라는 뜻인가봐요    {kind-smile}
4    아 내스급 성현제 책갈피가 아니라 옷핀입니다  {laughing-out}

In [33]:
len(df) # -> 30988 166062

166062

In [34]:
#중복 제거
df = df.drop_duplicates(subset = ['x']).reset_index(drop = True)

In [35]:
print(len(df))
df.head() #2231 -> 5725 -> 64573

64573

                            x               y
0              조금 많이 죄송하긴 해써요  {laughing-out}
1              열심히 슨배님덜 따라갈게요          {love}
2  얍 색조합 잘 못하는데 원작하고 비슷하게 갑니다  {laughing-out}
3             끝까지 덕질해라는 뜻인가봐요    {kind-smile}
4    아 내스급 성현제 책갈피가 아니라 옷핀입니다  {laughing-out}

In [36]:
#x; 한국어만 남기기
df['x'] = [re.compile('[^ ㄱ-ㅣ가-힣]+').sub('', df['x'][i]).strip() for i in range(len(df['x']))]

In [37]:
len(df) #total data length -> 15715

64573

In [46]:
df.to_csv('data/twitter_clean_all.csv', index=False)

In [38]:
df_count = df['y'].value_counts(sort = True)
len(df_count) #unique labels
df_count

{love}                10156
{kind-smile}           6140
{open-mouth-smile}     4459
{good-job}             4350
{solid-sad}            4219
{dunno}                2426
😭                      2259
{star}                 2208
{flower}               2096
{hope}                 1920
{laughing-out}         1788
❗                      1305
{mad}                   953
😏                       889
🔥                       842
😓                       833
💪                       735
😳                       695
😅                       680
🙌                       660
😣                       633
🏃                       630
💋                       612
😎                       610
😑                       594
😋                       587
👊                       572
🎶                       553
🌈                       544
👀                       544
👉                       537
🙋                       526
💔                       510
🤦                       510
🤘                       491
😴                       484
😜                       473
{cute-smile}            468
👇                       465
😱                       458
😪                       449
💦                       419
😒                       410
💥                       404
😈                       402
{check-mark}            390
👌                       375
✋                       365
🤤                       321
💃                       319
😬                       305
Name: y, dtype: int64

In [47]:
#count 10 이하인 것 제거
# more_than_ten = df_count[df_count > 10]

#라벨 수를 최빈도 순 줄인다.
frequent_labels = list(df_count.head(5).index)
df_sort = df[df['y'].isin(frequent_labels)]
df_sort.head(10)

                                                    x                   y
1                                      열심히 슨배님덜 따라갈게요              {love}
3                                     끝까지 덕질해라는 뜻인가봐요        {kind-smile}
6                           우리껀 춘절이후에 받아욥요기는 솜사탕 차폼이용  {open-mouth-smile}
9                       아래 공지사항을 꼭 읽으신 후 이벤트에 함께 해주세요          {good-job}
11  에스에프나인  루아이의 넘치는 애정을 받고 모두의 마음을 이리저리 흔들던 요한이의 ...              {love}
14                                    끝까지 덕질해라는 뜻인가봐요        {kind-smile}
16                          우리껀 춘절이후에 받아욥요기는 솜사탕 차폼이용  {open-mouth-smile}
19  에스에프나인  루아이의 넘치는 애정을 받고 모두의 마음을 이리저리 흔들던 요한이의 ...              {love}
20                                          제가 왕창 살게여              {love}
21                                          와 ㅅㅂ 잠시만요              {love}

In [48]:
len(df_sort) #total data length 1261 -> 6166 -> 40233

29324

In [49]:
df_count = df_sort['y'].value_counts(sort = True)
print(len(df_count))
df_count

# {love}                141
# {kind-smile}          119
# {laughing-out}         96
# {open-mouth-smile}     84
# {good-job}             81
# Name: y, dtype: int64

# {love}                1537
# {kind-smile}          1355
# {solid-sad}           1173
# {open-mouth-smile}    1148
# {good-job}             953
# Name: y, dtype: int64

5

{love}                10156
{kind-smile}           6140
{open-mouth-smile}     4459
{good-job}             4350
{solid-sad}            4219
Name: y, dtype: int64

In [50]:
# #undersample data with label 'N'
# tail_len = int(len(df[df['y'] == 'N']) * 0.9)
# to_drop = df[df['y']=='N'].tail(tail_len)
# df = df.drop(to_drop.index) 
# df.reset_index(drop = True)

In [51]:
# df_count = df['y'].value_counts(sort = True)
# print(len(df_count))
# df_count

In [52]:
# print(len(df))
# df.tail(10)

In [53]:
df_sort.to_csv('data/twitter_clean.csv', index=False)